* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
  
}



/* to customize the scrollbar */
body::-webkit-scrollbar {

    width: 0.5rem;
 
  
}

body::-webkit-scrollbar-track {
    background: rgb(46, 32, 110);
    
}


body::-webkit-scrollbar-thumb {

    border-radius: 7px;
}


/* to customize the scrollbar -end */

nav {
    color: #aaa;
    position: fixed;
    
    left: 0;
    height: 100vh;
    width: 5%;
    background-color: #485461;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;

}

.logo {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.title {
    display: none;
}


.arrows {
    transition: all 0.7s ease;
}
nav:hover .arrows {
    transform: rotate(-180deg);
}
nav:hover .title {
    display: block;
}

 ul {
     list-style: none;
     height: 100%;
     width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;

 }
a {
    text-decoration: none;
    color: #aaa;
}

li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 6rem;
    color: #aaa;
    transition: color 0.3s ease;
    
}


li a:hover {
    color: #03e9f4;
   
}


li span {
    display: none;
}
li:last-child {
    margin-top: auto;
}

main h1 {
    background: linear-gradient(-45deg, #ddaaff, #69318f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}
Marquee {
    font-family:'Comic Sans MS';
    font-size:2em;
    line-height:1.3em;
    color:#996600;
    
    padding:1.5em;
   
}   
.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    text-align: center;
    line-height: 50px;
    margin-left: 50%;
}
.list-pic{
   display: flex;
   float: right;
}
.listname{
    margin-left: -25%;
}
.hero{
    height: 20rem;
}
.row{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    gap: 2;
}
.label{
    text-align: center;
    font-size: 20px;
}
.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-basis: 3;
    padding: 0.75em;
}
.box{
    width: 50%;
}
.box1{
    height: 10rem;
}
.card{
    width: 40%;
    margin-left: 25%;
    box-shadow: #28313b;
    
}
.select {
    width: 100%;
}
select{
    width: 100%;
}
.card label{
    text-align:left ;
}
.card h1{
    font-size: 40px;
    color: #28313b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
}
section{
    margin-bottom: 5%;
}
marquee  {
    position: absolute;
    width: 100%;
    height: 2rem;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 5s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 5s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(50%); }
    100% { -moz-transform: translateX(-50%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(50%); }
    100% { -webkit-transform: translateX(-50%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(50%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(50%); 		
    }
    100% { 
    -moz-transform: translateX(-50%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-50%); 
    }
   } 

@media screen and (min-width: 768px) {
nav:hover {
    color:  #03e9f4;
    width: 15%;
}

nav:hover li span {
    display: block;
}
}
@media screen and (max-width: 768px) {
    nav {
      
        height: 4rem;
        width: 100vw; 
        bottom: 0;

    }
.logo {
    display: none;
}
    ul {
        flex-direction: row;

    }

    li:last-child {
        margin-top: 0;
    }
a {
    justify-content: center;
}

 li span {
     display: none;
 }
}