
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About | Tasker</title>
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="../static/css/about.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="menu">
                    <h3 class="logo">Tasker<span></span></h3>
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        
                    </div>
                </div>
            </div>
    
            <div class="main-container">
                <div class="main">
                    <header>
                        <div class="overlay">
                            <div class="inner">
                                <h2 class="title">TASKER</h2>
                                <p>
                                    <div class="wrapper">
                                        <div class="contant">
                                          <a class="tab" href="#no1">About Tasker <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                          <div class="text" id="no1" >
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi.</p>
                                          </div>
                                        </div>
                                        <div class="contant">
                                          <a class="tab" href="#no2">How does Tasker work  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                          
                                          
                                          <div class="text" id="no2" >
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi.</p>
                                          </div>
                                        </div>
                                          
                                          
                                          
                                        <div class="contant">
                                          <a class="tab" href="#no3">How to be a Tasker <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
                                          <div class="text" id="no3" >
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi.</p>
                                          </div>
                                        </div>
                                        <div class="contant">
                                          <a class="tab" href="#no4">Is Tasker safe?? <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
                                          <div class="text" id="no4" >
                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi.</p>
                                          </div>
                                        </div>
                                        <div class="contant">
                                          <a class="tab" href="#no5">How do i verify Taskers <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
                                          <div class="text" id="no5" >
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum corrupti, cumque quasi quae perspiciatis quo sit reprehenderit itaque dicta. Unde nobis ullam saepe, odit porro. Dicta beatae, nobis quasi.</p>
                                          </div>
                                        </div>
                                        
                                      </div>
                                      
                                </p>
                              
                            </div>
                        </div>
                    </header>
                </div>
    
                <div class="shadow one"></div>
                <div class="shadow two"></div>
            </div>
    
            <div class="links">
              
                <ul>
                    <!-- <div class="contain ">
                    </div> -->
                    <li>
                        <a href="./index.html" style="--i: 0.05s;">Home</a>
                    </li>
                    <li>
                        <a href="./services.html" style="--i: 0.1s;">Services</a>
                    </li>
                    <li>
                        <a href="./about.html" style="--i: 0.15s;">About</a>
                    </li>

                    <li>
                        <a href="./developer.html" style="--i: 0.25s;">Developer</a>
                    </li>
                    <li>
                        <a href="./signup.html" style="--i: 0.3s;">Sign up</a>
                    </li>
                    <li>
                        <a href="./signin.html" style="--i: 0.3s;">Sign in</a>
                    </li>
                    <li>
                        <a href="./tasker.html" style="--i: 0.2s;">Tasker</a>
                    </li>
                </ul>
        
            </div>
        </div>
    
        <script src="../static/js/navbar.js"></script>
    </body>
    </html>