<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
     <link rel="stylesheet" href="../static/css/bulma/css/bulma.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
   



<nav>
    <ul>
     <li class="logo">
         <h4><i class="fas fa-chevron-right fa-2x arrows"></i><i class="fas fa-chevron-right fa-2x arrows"></i></h4>
     </li>
        <li><a href="#"><i class="fa fa-fw fa-home fa-2x"></i> <span>Home</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-wrench fa-2x "> </i><span>Support</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-user fa-2x"></i><span>Profile</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-envelope fa-2x"></i><span>  Request</span>
        </a></li>
        <li><a href="#"><i class="fas fa-lo fa-2x"></i></a></li>
        
    </ul>
    
     </nav>
 <header>
<div class="list">
    <div class="listname">
        <h2>username</h2>
    </div>
    <div class="list-pic">
        <img src="../static/img/icons8-user-48.png" alt="">
    </div>
    <div class="list-out">
        <a href="">
          <img src="../static/img/icons8-sign-out-26.png" alt="">
        </a>
    </div>
</div>

    <!-- <marquee behavior="slide" direction="left">Here is some slide-in text... coming from the right.</marquee> -->

 </header>
 <section class="hero is-link">
    <div class="hero-body">
      <p class="title">
      <div class="row">
        <div class="column">
            <form class="box box1">
                <div class="field">
                  <label class="label">Daily Request</label>
                  <label class="label">0</label>
                </div>
              
               
              
              
              </form>
        </div>
        <div class="column">
            <form class="box">
                <div class="field">
                  <label class="label">Message</label>
                  <label class="label">0</label>
                </div>
              
               
              
                <button class="button is-primary">Message</button>
              </form>
        </div>
        <div class="column">
            <form class="box">
                <div class="field">
                  <label class="label">Message</label>
                  <label class="label">0</label>
                </div>
              
               
              
                <button class="button is-primary">Message</button>
              </form>
        </div>
       
      </div>
      </p>
    
    </div>
  </section>
<section>
   
      
</section>














 
</body>
</html>