
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tasker | Homepage</title>
        <link rel="stylesheet" href="../static/css/index.css" />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="menu">
                    <h3 class="logo">Tasker<span></span></h3>
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        
                    </div>
                </div>
            </div>
    
            <div class="main-container">
                <div class="main">
                    <header>
                        <div class="overlay">
                            <div class="inner">
                                <h2 class="title">TASKER</h2>
                                <p>
                                    Your friendly neighbourhood messenger.
                                </p>
                                <a href="./about.html">
                                <button class="btn">About us</button>
                            </a>
                            <!-- <br><br>
                            <h2>
                                Sign Up for TASKER today!!
                            </h2>
                            <a href="./signup.html">
                                <button class="btn">Sign up</button>
                            </a> -->
                            </div>
                        </div>
                    </header>
                </div>
    
                <div class="shadow one"></div>
                <div class="shadow two"></div>
            </div>
    
            <div class="links">
              
                <ul>
                    <!-- <div class="contain ">
                    </div> -->
                    <li>
                        <a href="#" style="--i: 0.05s;">Home</a>
                    </li>
                    <li>
                        <a href="./services.html" style="--i: 0.1s;">Services</a>
                    </li>
                    <li>
                        <a href="./about.html" style="--i: 0.15s;">About</a>
                    </li>

                    <li>
                        <a href="./services.html" style="--i: 0.25s;">Developer</a>
                    </li>
                    <li>
                        <a href="./signup.html" style="--i: 0.3s;">Sign up</a>
                    </li>
                    <li>
                        <a href="./signin.html" style="--i: 0.3s;">Sign in</a>
                    </li>
                    <li>
                        <a href="./tasker.html" style="--i: 0.2s;">Tasker</a>
                    </li>
                </ul>
        
            </div>
        </div>
    
        <script src="../static/js/navbar.js"></script>
    </body>
    </html>